<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TycheApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_tyche_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_tyche_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tyche">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Tyche">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="felipearpa.github.io" />
                <data android:pathPrefix="/tyche/signin" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="felipearpa.github.io" />
                <data android:pathPattern="/tyche/pools/.*/join" />
            </intent-filter>
        </activity>
    </application>

</manifest>
