//
//  AppConfig.xcconfig
//  Tyche
//
//  Created by Felipe Arcila Parra on 20/07/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

SIGN_IN_URL_TEMPLATE = https:/$()/tyche-588ce.web.app/sign-in/%@
ANDROID_PACKAGE_NAME = com.felipearpa.tyche
URL_BASE_PATH = https:/$()/wfykmbiop4.execute-api.us-east-2.amazonaws.com
