<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOeCEIRr-Unywhy7asmPrMeguB4nKGmaY</string>
	<key>GCM_SENDER_ID</key>
	<string>201372633982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felipearpa.tyche</string>
	<key>PROJECT_ID</key>
	<string>tyche-588ce</string>
	<key>STORAGE_BUCKET</key>
	<string>tyche-588ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201372633982:ios:a987a4ef6735a6c583412f</string>
</dict>
</plist>